.footer {
    background-color: #2F2523;
    padding: 50px 0
}

.footer__links {
    display: flex;
    flex-direction: column
}

.footer__column-title {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .8rem
}

.footer__link {
    color: #7E7E7E;
    font-size: .8rem;
    text-decoration: none;
    margin-bottom: 1rem
}

.footer__extra {
    display: flex;
    flex-direction: column
}

.footer__input {
    margin-bottom: 1rem;
    border-radius: 5px
}

.footer p {
    font-size: .7rem;
    line-height: 1.7;
    color: #7E7E7E;
}

.footer__social-icons {
    display: flex
}

.footer__social-link {
    display: block;
    padding: 20px;
    color: #907070
}

.footer__bottom {
    
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between
}

.footer___copyright {
    color: #7e7e7e;
    font-size: .8rem
}

.footer__extra-links a {
    color: #7e7e7e;
    font-size: .8rem;
    text-decoration: none;
    padding: 0 20px
}

.footer .footer__copyright {
    color: #b6b6b6
}

.footer__logo a {
    font-size: 2rem;
    font-family: "Playball", cursive;
    color: #fff;
    text-decoration: none
}